@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  /* outline: 1px solid red; */
}

.barlow-normal {
  font-family: 'Barlow', sans-serif !important;
  font-weight: 400 !important;
}
.barlow-medium {
  font-family: 'Barlow', sans-serif !important;
  font-weight: 500 !important;
}
.barlow-semi-bold {
  font-family: 'Barlow', sans-serif !important;
  font-weight: 700 !important;
}

.barlow-bold {
  font-family: 'Barlow', sans-serif !important;
  font-weight: 600 !important;
}

.poppins-normal {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.poppins-semi-bold {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}
.poppins-bold {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
}
.poppins-extra-bold {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 800 !important;
}

h1,
h2,
h3,
h4 {
  font-family: 'Barlow', sans-serif !important;
  font-weight: 700 !important;
}

h5,
h6 {
  font-family: 'Barlow', sans-serif !important;
  font-weight: 600 !important;
}

h1 {
  font-size: 64px !important;
  line-height: 80px !important;
}

h2 {
  font-size: 48px !important;
  line-height: 64px !important;
}

h3 {
  font-size: 36px !important;
  line-height: 54px !important;
}

h4 {
  font-size: 24px !important;
  line-height: 35px !important;
}

h5 {
  font-size: 20px !important;
  line-height: 30px !important;
}

h6 {
  font-size: 18px !important;
  line-height: 28px !important;
}

p {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
}

button {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

a {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.subtitle1 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 28px !important;
}

.subtitle2 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 26px !important;
}

.subtitle3 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 24px !important;
}

.body-1 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 28px !important;
}

.body-2 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 26px !important;
}

.body-3 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 24px !important;
}

.btn-L {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 26px !important;

}

.btn-M {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 24px !important;

}

.btn-S {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 22px !important;

}

.caption {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 20px !important;
}

.overline {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 20px !important;
  border-bottom: 1px solid !important;
  text-decoration: none !important;
}

.btn-theme-pad {
  padding: 11px 20px 11px 20px;
}

.theme-btn-radius {
  border-radius: 100px;
}



.gradient-theme-text-1 {
  background: linear-gradient(90deg, #57D7FF 0%, #C557FF 31.77%, #7555FF 69.27%, #8281FD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-theme-text-2 {
  background: linear-gradient(90deg, #6288A1 0%, #B377D3 52.08%, #B86B85 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-btn-theme {
  background: linear-gradient(90deg, #6288A1 0%, #B377D3 52.08%, #B86B85 100%);
}

.border-bottom-theme-1 {
  border-bottom-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, #6288A1 0%, #B377D3 52.08%, #B86B85 100%) 1;
}

.border-bottom-theme-2 {
  border-bottom-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, #57D7FF 0%, #C557FF 31.77%, #7555FF 69.27%, #8281FD 100%) 1;
}

.gradient-border-theme-1 {
  background: linear-gradient(101.76deg, #252B3B 0%, #161819 100%) padding-box,
    linear-gradient(90deg, #6288A1 0%, #B377D3 52.08%, #B86B85 100%) border-box;
  border-radius: 100px;
  border: 1px solid transparent;
}

.bg-white-theme {
  background: rgba(249, 250, 251, 1);

}

.bg-dark-theme {
  background: linear-gradient(101.76deg, #252B3B 0%, #161819 100%);
}

.bg-black-theme {
  background: rgba(0, 0, 0, 1);
}

.footer-gray-theme {
  color: rgba(145, 158, 171, 1)
}

.footer-border-color {
  border-color:rgba(145, 158, 171, 1);
}

.footer-bottom-hr {
  border-color: rgba(33, 43, 54, 1);
}

#footer-news {
  transform: translateY(-26px);
}

#FAQsection .box {
  box-shadow: -24px 24px 72px -8px rgba(145, 158, 171, 0.24);
}

#FAQsection .according-item {
  border: 0 !important;
}

#FAQsection .accordion-button {
  border: 1px solid rgba(30, 31, 36, 0.15) !important;
  border-radius: 4px !important;
}
#FAQsection .box {
  background-color: rgba(249, 250, 251, 1) !important;
  transform: translateY(-160px);
}

#FAQsection .accordion-button::after {
  background-image: url("./assets/plus.png");
  background-size: 14.58px;
  align-self: end;
}